body {
    font-family: Arial, sans-serif;
    width: 800px;
}
header .entete {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
header .entete a {
    color: black;
}
header .entete a:hover {
    color: red;
    cursor: pointer;
}
header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header #onglets {
    margin-top: 35px;
    margin-right: 25px;
}
header #onglets a {
    text-align: 15px;
    margin-right: 25px;
    text-decoration: none;
    color: black;
}
header #onglets a:hover {
    
    color: red;
    cursor: pointer;
}
.conseil {
    position: relative;
    color:rgb(245, 242, 242);
    padding: 15px 15px;
    background-image: url(images/maq1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 100%;
}
.conseil .content {
    position: relative;
    z-index: 1;
    margin-right: 25px;
    text-align: 15px;   
    margin-top: 75px;

}
.conseil .content .button-container a {
    margin-top: 75px;
    text-decoration: none;
    color: white;
    border: 3px solid;
    padding: 15px 15px;
    border-radius: 25px;

}
.conseil .content .button-container a:hover {
    color: rgb(227, 121, 121);
    cursor: pointer;
    
}
.nosservices {
    background-color: white;
    color: black;
    margin-top: 80px;
}
.nosservices h2 {
    text-align: center;
}
.nosservices p {
    text-align: center;
    font-size: 12px;
}
.nosservices .left {
    display: flex;
    max-width: 100%;
}
.nosservices .right {
    display: flex;
}
.Rédaction { 
    display: flex;
    max-width: 400px;
    padding: 15px 15px;
}
.Analyse {
    display: flex;
    width: 100%;
    padding: 15px 15px;    
}
.Gestion {
    display: flex;
    max-width: 400px;
    padding: 15px 15px;
}
.Assistance {
    display: flex;
     width: 100%;
    padding: 15px 15px; 
}
.nosservices img {
    width: 30px;
    height: 30px;
}
.left p {
    text-align: justify;
    margin-left: 5px;
}
.right p {
    text-align: justify;
    margin-left: 5px;
}
.articles{
    margin-top: 40px;
}
.articles .article{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.articles .article .left{
    max-width: 50%;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}
.articles .article .left h4{
    color: #79807f;
}
.articles .article .left h2{
    font-size: 30px;
}
.articles .article .left p{
    margin-right: 10px;
    color: #6c746f;
}
.articles .article .right img{ 
    margin-top: 15px; 
    height: 240px;
    width: 380px;
    filter: brightness(60%);
}
.expertise{
    position: relative;
    color: white;
    padding: 80px 60px;
    background-image: url(images/nat-Qerg85B7JDI-unsplash.jpg);
}
.expertise .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.expertise .content .text h2{
    font-size: 32px;
}
.expertise .content .text ul{
    padding: 0;
}
.expertise .content .button-container a{
    text-decoration: none;
    color: white;
    border: 3px solid white;
    padding: 15px 35px;
    border-radius: 40px;
}
.expertise .content .button-container a:hover{
    color: rgb(214, 84, 84);
    cursor: pointer;
}
footer {
    background-image: url(images/fiqih-alfarish-pU0XbVsDBzw-unsplash.jpg);
    background-size: cover;
    background-position: center;
    padding: 80px 60px;
    color: white;
    position: relative;
    margin-top: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 90%;
}

.services_offshore_à_Madagascar .content {
    display: flex;
    justify-content: space-between;
    max-width: 100px;
    margin: auto;
    position: relative;
    margin-right: 25px; 
    margin-top: 12px;  
}
.services_offshore_à_Madagascar {
    background-color: white;
    color: black;
}
.services_offshore_à_Madagascar h3 {
    text-align: center;
    background-color: white;
    color: black;
}
.services_offshore_à_Madagascar p {
    text-align: center;
    font-size: 12px;
}
.stats {
    text-align: center;
    padding: 20px;
    display: inline-table;
    flex-direction: row-reverse;
}
.stats img {
    margin-top: 15px; 
    height: 45px;
    width: 45px;
    object-fit: contain;
    filter: brightness(0) invert(1); 
    color: beige;
    align-items: center;
}
.stats h4 {
    font-size: 28px;
    margin: 5px 0;
}
.stats p {
    color: aqua;
    margin: 0;
}