body {
    font-family: Arial, sans-serif;
    width: 800px;
}
header .entete {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
header .entete a {
    color: black;
}
header .entete a:hover {
    color: red;
    cursor: pointer;
}
header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header #onglets {
    margin-top: 35px;
    margin-right: 25px;
}
header #onglets a {
    text-align: 15px;
    margin-right: 25px;
    text-decoration: none;
    color: black;
}
header #onglets a:hover {
    
    color: red;
    cursor: pointer;
}
.conseil {
    position: relative;
    color:rgb(245, 242, 242);
    padding: 15px 15px;
    background-image: url(images/maq1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 100%;
}
.conseil .content {
    position: relative;
    z-index: 1;
    margin-right: 25px;
    text-align: 15px;   
    margin-top: 75px;

}
.conseil .content .button-container a {
    margin-top: 75px;
    text-decoration: none;
    color: white;
    border: 3px solid;
    padding: 15px 15px;
    border-radius: 25px;

}
.conseil .content .button-container a:hover {
    color: rgb(227, 121, 121);
    cursor: pointer;
    
}
.nosservices {
    background-color: white;
    color: black;
    margin-top: 80px;
}
.nosservices h2 {
    text-align: center;
}
.nosservices p {
    text-align: center;
    font-size: 12px;
}
.nosservices .left {
    display: flex;
    max-width: 100%;
}
.nosservices .right {
    display: flex;
}
.Rédaction { 
    display: flex;
    max-width: 400px;
    padding: 15px 15px;
}
.Analyse {
    display: flex;
    width: 100%;
    padding: 15px 15px;    
}
.Gestion {
    display: flex;
    max-width: 400px;
    padding: 15px 15px;
}
.Assistance {
    display: flex;
     width: 100%;
    padding: 15px 15px; 
}
.nosservices img {
    width: 30px;
    height: 30px;
}
.left p {
    text-align: justify;
    margin-left: 5px;
}
.right p {
    text-align: justify;
    margin-left: 5px;
}